# SDTM DM dataset creation using Python
This program can create SDTM DM SAS xpt dataset from EDC raw SAS datasets.

In [2]:
### Import modules
from pandas import Series, DataFrame
import pandas as pd
import xport  ## write sas datasets to local drive
from sas7bdat import SAS7BDAT  ## read SAS datasets from local drive

## Prepare demog datasets

In [3]:
pd.read_sas('data/Raw/demog.xpt', encoding="utf-8")

,AGE,AGEU,RACEC,SITEID,STUDYID,SUBJID,SEXC
0,63.0,YEARS,"HISPANIC (MEXICAN - AMERICAN, MEXICO, CENTRAL ...",701,CDISCPILOT01,1015,Female
1,64.0,YEARS,"HISPANIC (MEXICAN - AMERICAN, MEXICO, CENTRAL ...",701,CDISCPILOT01,1023,Male
2,71.0,YEARS,CAUCASIAN,701,CDISCPILOT01,1028,Male
3,74.0,YEARS,CAUCASIAN,701,CDISCPILOT01,1033,Male
4,77.0,YEARS,CAUCASIAN,701,CDISCPILOT01,1034,Female
...,...,...,...,...,...,...,...
249,78.0,YEARS,"HISPANIC (MEXICAN - AMERICAN, MEXICO, CENTRAL ...",718,CDISCPILOT01,1254,Male
250,86.0,YEARS,CAUCASIAN,718,CDISCPILOT01,1328,Male
251,79.0,YEARS,CAUCASIAN,718,CDISCPILOT01,1355,Male
252,69.0,YEARS,CAUCASIAN,718,CDISCPILOT01,1371,Female
253,74.0,YEARS,"AFRICAN DESCENT (NEGRO, BLACK)",718,CDISCPILOT01,1427,Female

In [4]:
df_dm2 = pd.read_sas('data/Raw/demog.xpt', encoding="utf-8")

In [5]:
### Prepare variables 
df_dm2['SEX'] = df_dm2.SEXC.replace(['Male','Female'], ['M','F']) # Create SEX variable
df_dm2['DOMAIN'], df_dm2['COUNTRY'] = 'DM', 'USA' # Create varialbes DOMAIN & COUNTRY
df_dm2['USUBJID'] = df_dm2.STUDYID + '-' + df_dm2.SITEID + '-' + df_dm2.SUBJID  # create USUBJID

for index, _df1 in df_dm2.iterrows():
    ## Create Ethnic
    if _df1['RACEC'].__contains__('HISPANIC'):
        df_dm2.loc[index, 'ETHNIC'] = 'HISPANIC OR LATINO'
    else:
        df_dm2.loc[index, 'ETHNIC'] = 'NOT HISPANIC OR LATINO'
        
    ## Create Race    
    if _df1['RACEC'].__contains__('HISPANIC'):
        df_dm2.loc[index, 'RACE'] = 'WHITE'
    elif _df1['RACEC'].__contains__('CAUCASIAN'):
        df_dm2.loc[index, 'RACE'] = 'WHITE'
    elif _df1['RACEC'].__contains__('AFRICAN'):
        df_dm2.loc[index, 'RACE'] = 'BLACK'
    elif _df1['RACEC'].__contains__('OTHER'):
        df_dm2.loc[index, 'RACE'] = 'OTHER'

## Prepare Exposure dataset

In [6]:
df_ex2 = pd.read_sas('data/Raw/expo.xpt', encoding="utf-8")

In [7]:
### Prepare exposure variables
df_ex2['EXSTDTC'] = df_ex2['EXSTDD'] + '-' + df_ex2['EXSTMM'] + '-' + df_ex2['EXSTYY']  # exposure start date
df_ex2['EXENDTC'] = df_ex2['EXENDD'] + '-' + df_ex2['EXENMM'] + '-' + df_ex2['EXENYY']  # exposure end date

### Fine the first and last exposure date
df_ex4 = df_ex2.sort_values(by =['SUBJID','EXSTDTC'], ascending=[True, True] )  # sort by subjid and expo date
df_ex4_f = df_ex4.groupby('SUBJID').first()  # pick the first exposure date of the subject
df_ex4_f2 = df_ex4_f.reset_index()  # reset index so that SUBJID is column
df_ex4_f3 = df_ex4_f2[['SUBJID','EXSTDTC']].rename(columns={'EXSTDTC':'RFSTDTC'})  # select variables
df_ex4_l = df_ex4.groupby('SUBJID').last()  # pick the last exposure date of the subject
df_ex4_l2 = df_ex4_l.reset_index()  # reset index so that SUBJID is column
df_ex4_l3 = df_ex4_l2[['SUBJID','EXENDTC']].rename(columns={'EXENDTC':'RFENDTC'})  # select variables

### merge exposure data to demog data

In [8]:
### merge first and last exposure date
df_ex5 = pd.merge(df_ex4_f3, df_ex4_l3, on='SUBJID')

### merge exposure data to demog data
df_dm3 = pd.merge(df_dm2, df_ex5, on='SUBJID', how='left')  # merge exposure information to dm

## Prepare Randomization data

In [9]:
df_rm2 = pd.read_sas('data/Raw/rand.xpt', encoding="utf-8")

### merge randomization data to demog data

In [10]:
### Merge(inner join) randomization with demo by SUBJID. 
df_dm4 = pd.merge(df_dm3, df_rm2, on='SUBJID', how='left')
df_dm4['ARM'] = df_dm4.DRUG
df_dm4['ARMCD'] = df_dm4.ARM.replace(['Control','Study Drug'], ['C','SD'])
df_dm4['ACTARMCD'] = df_dm4.ARMCD
df_dm4['ACTARM'] = df_dm4.ARM

## Prepare Dispostion data

In [11]:
df_ds2 = pd.read_sas('data/Raw/disp.xpt', encoding="utf-8")

In [12]:
### Prepare dispostion data
df_ds2['DSSTDTC'] = df_ds2['DSSTDD'] + '-' + df_ds2['DSSTMM'] + '-' + df_ds2['DSSTYY']  # dispostion date

### prepare death data
for index3, _df3 in df_ds2.iterrows(): 
    if _df3.DISP == 'DEATH':
        df_ds2.loc[index3, 'DTHDTC'] = _df3.DSSTDTC
        df_ds2.loc[index3, 'DTHFL'] = 'Y'
        
df_ds2['RFPENDTC'] = df_ds2.DSSTDTC
df_ds4 = df_ds2[['SUBJID', 'RFPENDTC', 'DTHFL', 'DTHDTC']]

### Merge dispostion data to demog data

In [13]:
df_dm5 = pd.merge(df_dm4, df_ds4, on='SUBJID', how='left')

In [14]:
### Prepare demographic data
df_dm6 = df_dm5.drop(['SEXC','RACEC','DRUG'],1)  # drop sex variable
df_dm6['RFXSTTDTC'], df_dm6['RFSENDTC'], df_dm6['RFICDTC'] = df_dm6.RFSTDTC, df_dm6.RFENDTC, ''

/tmp/ipykernel_1344/3929655202.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_dm6 = df_dm5.drop(['SEXC','RACEC','DRUG'],1)  # drop sex variable

## Write CDISC DM dataset

In [15]:
df_dm6 = df_dm6.rename(columns={"RFXSTTDTC":"RFXSTTDT"})

with open('data/CDISC/dm.xpt', 'wb') as f:
    xport.from_dataframe(df_dm6, f)## write DM

/opt/conda/lib/python3.9/site-packages/xport/v56.py:661: UserWarning: Converting column dtypes {'AGEU': 'string', 'SITEID': 'string', 'STUDYID': 'string', 'SUBJID': 'string', 'SEX': 'string', 'DOMAIN': 'string', 'COUNTRY': 'string', 'USUBJID': 'string', 'ETHNIC': 'string', 'RACE': 'string', 'RFSTDTC': 'string', 'RFENDTC': 'string', 'ARM': 'string', 'ARMCD': 'string', 'ACTARMCD': 'string', 'ACTARM': 'string', 'RFPENDTC': 'string', 'DTHFL': 'string', 'DTHDTC': 'string', 'RFXSTTDT': 'string', 'RFSENDTC': 'string', 'RFICDTC': 'string'}
  warnings.warn(f'Converting column dtypes {conversions}')
Converting column 'AGEU' from object to string
Converting column 'SITEID' from object to string
Converting column 'STUDYID' from object to string
Converting column 'SUBJID' from object to string
Converting column 'SEX' from object to string
Converting column 'DOMAIN' from object to string
Converting column 'COUNTRY' from object to string
Converting column 'USUBJID' from object to string
Converting column 'ETHNIC' from object to string
Converting column 'RACE' from object to string
Converting column 'RFSTDTC' from object to string
Converting column 'RFENDTC' from object to string
Converting column 'ARM' from object to string
Converting column 'ARMCD' from object to string
Converting column 'ACTARMCD' from object to string
Converting column 'ACTARM' from object to string
Converting column 'RFPENDTC' from object to string
Converting column 'DTHFL' from object to string
Converting column 'DTHDTC' from object to string
Converting column 'RFXSTTDT' from object to string
Converting column 'RFSENDTC' from object to string
Converting column 'RFICDTC' from object to string